*{
    margin:0px;
    padding:0px;
}
.bg-container{
    background-image:url("https://img.freepik.com/premium-photo/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg");
    height:100vh;
    padding-top:25px;
    padding-left:10px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 15px;
}
.ayush-logo{
    display: flex;
    flex-direction: column;
    height:50px;
    width:80px;
    outline:none;
    position: relative;
    padding:10px;
    color:white;
    margin-left: 20px;
    margin-bottom:30px;
    text-align:center;
    background-color: transparent;
    border:2px solid royalblue;
}
.Unordered-list-container{
    margin-top:50px;
    list-style-type:none;
    color:White;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}
.list-container1{

    display: none;
}
@media screen and (min-width:968px){
    .list-container1{
        margin-left:50vw;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: space-between;
    }
}
.Ayush{
    color:white;
    font-size:30px;
    margin-left: 24px;
   
}
.Skill{
    border:0px solid;
    border-radius:4px;
    background-color: white;
    padding: 6px;
    width:150px;
    font-size:24px;
    margin-right:16px;
}
.Profile-pic{
    width:150px;
    width:150px;
}
@media screen and (width:768px){
    .Profile-pic{
        width:300px;
        width:300px;
    } 
}
@media screen and (min-width:968px){
    .Profile-pic{
        width:400px;
        width:400px;
    } 
}
.heading{
    font-size:16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:400;
    color:aliceblue;
    margin-bottom: 10px;
}
@media screen and (width:768px){
    .heading{
        font-size:38px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:500;
        color:aliceblue;
        margin-bottom: 10px;
    }
}
@media screen and (min-width:968px){
    .heading{
        font-size:38px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:500;
        color:aliceblue;
        margin-bottom: 10px;
    }
}



.portfolio-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin-top:60px;
    margin-left: 5px;
}
@media screen and (min-width:952px){
    .portfolio-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
        margin-top:60px;
        margin-left: 20px;
    }
}
.Facts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:20px;
    padding:15px;
    background-color:grey;
}
@media screen and (min-width:852px){
    .Facts{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left:20px;
        align-items: center;
        padding:15px;
       
        background-color:#323f4b;
    }
}
.facts-heading {
    color: #cced00;
    font-size: 26px;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    
}
.header-section{
    order:0;
}
@media screen and (min-width:852px){
    .header-section{
        order:1;
        margin-left:30px;
    }
}
.description-section{
    order:2;
}
@media screen and (min-width:852px){
    .description-section{
        order:3;
    }
}
.About-me-headinng {
    color: white;
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    margin-bottom:10px;
    
}
.img-size{
    order: 1;
}
@media screen and (min-width:852px){
    .img-size{
        order:0;

    }
}
.img-size2{
    display: none;
}
@media screen and (min-width:852px){
    .img-size2{
        display:flex;
    }
}
.about-me-image{
    width:400px;
    height:400px;
}
.about-me-description {
    color: #9aa5b1;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 200;
    font-style: normal;
    order:3
}
@media screen and (min-width:852px){
    .about-me-description{
        display:none;
    }
}
.about-me-description1{
    color: #9aa5b1;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 200;
    font-style: normal;
    order:3;
    display:none;
}
@media screen and (min-width:852px){
    .about-me-description1{
        display:inline;
    }
}
.footer{
    background-color: black;
    padding:10px;
}
.form-heading{
    font-size:16px;
    font-weight:300;
    color:wheat;
}
@media screen and (min-width:768px){
    .form-heading{
        font-size: 38px;;
    }
}
.form-section{
    display: flex;
    margin-top: 15px;
    flex-direction:row;
    margin-bottom:10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    
    
}
.input{
    width:200px;
    height:30px;
    color:white;
    padding:5px;
    border:2px solid salmon;
    margin-bottom: 5px;
}
.input:hover{
 
   color:rgb(127, 136, 255);
    border-color: #cced00;
}

.submit-btn{
    padding:4px;
    color:white;
    cursor: pointer;
    background-color: #90918b;
}
.Project-image{
    width:150px;
    height:150px;
}
@media screen and (min-width:768px){
    .Project-image{
        width:250px;
        height:250px;
    }
}

.My-projects{
    background-color: rgba(24, 23, 23, 0.123);
    
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    padding:20px 20px;
}
@media screen and (min-width:768px){
    .My-projects{
        flex-direction: row;
        flex-wrap:nowrap;
    }
}
.Project-heading{
    color: rgb(15, 179, 207);
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 200;
}
@media screen and (min-width:768px){
    .Project-heading{
        color: rgb(196, 39, 169);
        font-size: 26px;
        font-family: "Roboto";
        font-weight: 500;
    }
}
.Project{
    width:250px;
    margin-right:20px;
}
.Project:hover{
    width:300px;
}